body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/104/491/original/5463543.jpg?1700492617);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 550px;
  margin: 30px auto;
  padding: 30px;
  background: #f8ece1;
  border-radius: 12px;
  box-shadow: 4px 4px 9px 0px rgba(74, 74, 74, 0.69);
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #1f1f57;
}

h1 {
  text-align: center;
  font-family: "Didact Gothic", sans-serif;
  font-size: 35px;
  color: #3e6b9c;
}
h1 small {
  font-size: 20px;
}

.city-block {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  margin: 25px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city-block:last-child {
  border: none;
}

h2 {
  margin: 0 0 8px;
  font-family: "Didact Gothic", sans-serif;
  font-size: 30px;
  color: #3e6b9c;
}

.date {
  opacity: 0.7;
  font-family: "Lato", sans-serif;
}

.time {
  font-size: 45px;
  font-weight: bold;
  font-family: "Didact Gothic", sans-serif;
  color: #1f1f57;
}

.time small {
  font-size: 15px;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
}

footer {
  text-align: center;
  font-family: monospace;
}
